<nav class="sticky top-0">
	<div class="mx-auto px-2">
		<div class="relative flex h-12 items-center justify-between">
			<div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
				<!-- Mobile menu button-->
				<button type="button" class="inline-flex items-center justify-center rounded-md p-2"
					aria-controls="mobile-menu" aria-expanded="false" onclick="toggleMenu()">
					<span class="sr-only">Open main menu</span>
					<!--
						Icon when menu is closed.
					
						Heroicon name: outline/bars-3

						Menu open: "hidden", Menu closed: "block"
					-->
					<svg class="block h-6 w-6" id="burger" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
						stroke-width="1.5" stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" /> 
					</svg>
					<!--
						Icon when menu is open.

						Heroicon name: outline/x-mark

						Menu open: "block", Menu closed: "hidden"
					-->
					<svg class="hidden h-6 w-6" id="cros" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
						stroke-width="1.5" stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
					</svg>
				</button>
			</div>
			<div class="flex flex-1 items-center justify-center sm:items-stretch">
				<div class="hidden sm:block">
					<div class="flex space-x-4">
						<a href="/download" class="px-3 py-2 rounded-md text-sm font-medium">Скачать лаунчер</a>
						<a href="/servers" class="px-3 py-2 rounded-md text-sm font-medium">Сервера</a>
						<a href="/rules" class="hover: px-3 py-2 rounded-md text-sm font-medium">Правила</a>
						{% if user %}
							<a href="/logout" class="px-3 py-2 rounded-md text-sm font-medium">Выйти</a>
						{% else %}
							<a href="/login" class="px-3 py-2 rounded-md text-sm font-medium">Войти</a>
						{% endif %}
						{% if user %}
							{% if user.permissions|contains("admin") %}
								<a href="/admin" class="px-3 py-2 rounded-md text-sm font-medium">Админка</a>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
			{% if user %}
				<a class="absolute inset-y-0 right-0 flex items-center pr-2 sm:ml-6 sm:pr-0" href="/profile">
					<div class="inline-block">
						<img class="h-10 w-10" src="/api/skin/head/{{ user.username }}" alt="">
					</div>
					<div class="inline-block pl-2 text-center">
						<div>{{ user.username }}</div>
						<div class="text-[0.65rem] link">В профиль</div>
					</div>
				</a>
			{% endif %}
		</div>
	</div>
	<div class="sm:hidden" id="mobile-menu" style="display: none;">
		<div class="space-y-1 px-2 pt-2 pb-3">
			<a href="/download" class="px-3 py-2 rounded-md block text-base font-medium">Скачать лаунчер</a>
			<a href="/servers" class="px-3 py-2 rounded-md block text-base font-medium">Сервера</a>
			<a href="/rules" class="px-3 py-2 rounded-md block text-base font-medium">Правила</a>
			<a href="/login" class="px-3 py-2 rounded-md block text-base font-medium">Войти</a>
			{% if user %}
				{% if user.permissions|contains("admin") %}
					<a href="/admin" class="px-3 py-2 rounded-md block text-base font-medium">Админка</a>
				{% endif %}
			{% endif %}
		</div>
	</div>
	<script>
		function toggleMenu() {
			let menu = document.getElementById("mobile-menu");
			let cros = document.getElementById("cros");
			let burger = document.getElementById("burger");
			if(menu && menu.style.display != "none"){
				menu.style.display = "none";
				cros.classList.add("hidden");
				cros.classList.remove("block");
				burger.classList.add("block");
				burger.classList.remove("hidden");
			}
			else{
				menu.style.display = null;
				cros.classList.add("block");
				cros.classList.remove("hidden");
				burger.classList.add("hidden");
				burger.classList.remove("block");
			}
		}
	</script>
</nav>