{% extends "base.njk" %}

{% block title %}Админка{% endblock %}
{% block content %}
	<div class="lg:mx-12 mx-4 2xl:container h-auto content">
		<table class="table table-compact w-full">
			<tr>
				<th>Username</th>
				<th>Email</th>
				<th>Status</th>
				<th>Last Played</th>
			</tr>
			{% for user in users %}
				<tr>
					<td><a class="link" href="/profile/{{ user.username }}">{{ user.username }}</a></td>
					<td>{{ user.email }}</td>
					{% if user.extras.banned %}
						<td class="text-red-500">Забанен</td>
					{% elif user.verified %}
						<td class="text-green-500">Верифицирован</td>
					{% else %}
						<td class="text-yellow-400">Не верифицирован</td>
					{% endif %}
					<td>{{ user.info.lastPlayed }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}