{% import "./partials/macros.njk" as macros %}

<!DOCTYPE html>
<html>
	<head>
		<link href="/css/style.css" rel="stylesheet">
		<title>{% block title %}{% endblock %} - DicePVP</title>
	</head>
	<body>
		<div class="body">
			{% include "./partials/header.njk" %}
			{% include "./partials/nav.njk" %}
			{% block content %}{% endblock %}
		</div>
		<div class="toast toast-top toast-end">
			{% block alert %}{% endblock %}
		</div>
		{% block script %}{% endblock %}
	</body>
</html>