<!DOCTYPE html>
<html>
	<head>
		<link href="/css/style.css" rel="stylesheet">
		<title>{% block title %}{% endblock %} - DicePVP</title>
	</head>
	<body>
		<div class="body">
			{% include "./partials/header.njk" %}
			{% include "./partials/nav.njk" %}
			{% block content %}{% endblock %}
		</div>
		{% block script %}
			
		{% endblock %}
	</body>
</html>