{% extends "base.njk" %}

{% block title %}Главная{% endblock %}

{% block content %}
	<div class="grid grid-cols-12 gap-2 lg:mx-12 mx-4 2xl:container h-auto content">
		<div class="col-span-6">
			<h2>Как играть?</h2>
			<p>
				<ol>
					<li>Для игры на нашем сервере необходимо <a class="link" href="/register">зарегистрироватся</a></li>
					<li>Скачать и установить <a class="link" href="https://java.com/">java</a></li>
					<li>Скачать лаунчер <a class="link" href="/download">лаунчер</a></li>
					<li>Ну и конечно же наслаждатся</li>
				</ol>
				По ВСЕМ проблемам писать в дискорд ИЛИ гилдед!
			</p>
		</div>
		<div class="col-span-6">
			<h4>Уважаемые игроки!</h2>
			<p>
				К сожалению вам придётся вновь проходить регистрацию аккаунтов, так как старые не сохранились. Просим прощения за неудобство.
			</p>
		</div>
		<!--<div>
			<h2>Наш дискорд!</h2>
			<iframe src="https://discord.com/widget?id=364741995954176000&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
		</div>
		<div>
			<h2>Наш гилдед!</h2>
			<iframe src="https://www.guilded.gg/canvas_index.html?route=%2Fcanvas%2Fembed%2Fteamcard%2FME2N7BdE" width="268" height="380" frameborder="0" scrolling="no"></iframe>
		</div>-->
	</div>
{% endblock %}