<!DOCTYPE html>
<html lang="en">
    <head>
		<link href="/css/style.css" rel="stylesheet">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mods</title>
    </head>
    <body>
        <div class="overflow-x-auto">
            <table class="table table-compact w-full">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mod in mods %}
                        <tr>
                            <td>
                                {{ mod.name }}
                            </td>
                            <td>
                                <a href="{{ mod.link }}">{{ mod.link }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>