{% extends "base.njk" %}
{% import "./partials/macros.njk" as macros %}

{% block title %}Профиль{% endblock %}
<div></div>
{% block content %}
<div class="lg:mx-12 mx-4 2xl:container h-auto content">
	<div class="grid grid-cols-12 gap-2">
		<div class="col-span-12 xl:col-span-3 md:col-span-4 min-h-[320px]">
			<div class="w-full h-full">
				<canvas class="border-2 border-foxy-orange rounded-xl" id="skin_container"></canvas>
			</div>
		</div>
		<div class="col-span-12 xl:col-span-9 md:col-span-8 ">
			<table class="userTable">
				<tr>
					<td>Никнейм</td>
					<td id="nickname">{{ user.username }}<label class="link pl-2 text-xs" for="username-modal">Сменить</label></td>
				</tr>
				<tr>
					<td>Почта</td>
					<td>{{ user.email }}<label class="link pl-2 text-xs" for="email-modal">Сменить</label></td>
				</tr>
				<tr>
					<td>Статус аккаунта</td>
					{% if user.verified %}
						<td class="text-green-500">Верифицирован</td>
					{% else %}
						<td class="text-yellow-400">Не верифицирован</td>
					{% endif %}
				</tr>
				<tr>
					<td>Дата регистрации</td>
					<td>{{ user.info.regDate|dateString}}</td>
				</tr>
				<tr>
					<td>Последняя активность</td>
					<td>{{ user.info.lastPlayed|dateString }}</td>
				</tr>
				<tr>
					<td>Пароль</td>
					<td>●●●●●●●●<label class="link pl-2 text-xs" for="password-modal">Сменить</label></td>
				</tr>
				<tr>
					<td>Cкин</td>
					<td><label class="link pl-2 text-xs" for="skin-modal">Изменить</label></td>
				</tr>
				<tr>
					<td>Плащ</td>
					<td>{# <label class="link pl-2 text-xs" for="cape-modal">Изменить</label> #}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
	<script src="/js/skinview3d.bundle.js"></script>
	<script>
		window.onload = () => {
			const canvas = document.getElementById("skin_container")
			let skinViewer = new skinview3d.SkinViewer({
				canvas: canvas,
				skin: "/api/skin/{{ user.username }}",
			});
			skinViewer.width = canvas.parentElement.clientWidth;
			skinViewer.height = canvas.parentElement.clientHeight;

			skinViewer.fov = 70;
			skinViewer.zoom = 0.9;

			//skinViewer.background = 0x161b22;

			skinViewer.animation = new skinview3d.WalkingAnimation();
			skinViewer.animation.speed = 0.6;

			skinViewer.cameraLight.intensity = 0.9;
			skinViewer.globalLight.intensity = 0.2;

			window.onresize = function(event) {
				skinViewer.width = canvas.parentElement.clientWidth;
				skinViewer.height = canvas.parentElement.clientHeight;
			};
		}
	</script>
	{{ macros.change_modal("username-modal", "Сменить никнейм", "Никнейм", "newusername", "/api/change/username") }}
	{{ macros.change_modal("email-modal", "Сменить почту", "Почта", "newemail", "/api/change/email") }}
	{{ macros.change_modal("password-modal", "Сменить пароль", "Новый пароль", "newpassword", "/api/change/password") }}
	{{ macros.skin_modal("skin-modal", "Скин", "skin", "/api/upload/skin") }}
	{{ macros.skin_modal("cape-modal", "Плащь", "cape", "/api/upload/cape") }}
{% endblock %}
{% block alert %}	
	{% if error %}
		{{ macros.alert_error(error) }}
	{% endif %}
	{% if success %}
		{{ macros.alert_success(success) }}
	{% endif %}
	{% if message %}
		{{ macros.alert_info(message) }}
	{% endif %}
{% endblock %}