{% extends "base.njk" %}

{% block title %}Hello World{% endblock %}
<div></div>
{% block content %}
<div class="lg:mx-12 mx-4 2xl:container h-auto content">
	<div class="grid grid-cols-12 gap-2">
		<div class="col-span-12 xl:col-span-3 md:col-span-4 min-h-[320px]">
			<div class="w-full h-full">
				<canvas class="border-2 border-foxy-orange rounded-xl" id="skin_container"></canvas>
			</div>
			{#<div>
				<div class="relative">
					<h4>Скин</h4>
					<label>Размер скина должен быть 64x64</label><br />
					<input onChange={fileSelectedHandler} type="file" name="skin" />
				</div>
				<div class="relative">
					<h4>Плащ</h4>
					<label></label><br />
					<input type="file" name="skin" />
					<Disabled>
						<h5>Недоступно...</h5>
					</Disabled>
				</div>
			</div>#}
		</div>
		<div class="col-span-12 xl:col-span-9 md:col-span-8 ">
			<table class="userTable">
				<tr>
					<td>Никнейм</td>
					<td id="nickname">{{ user.username }}<a class="link pl-2 text-xs" href="">Сменить</a></td>
				</tr>
				<tr>
					<td>Почта</td>
					<td>{{ user.email }}<a class="link pl-2 text-xs" href="">Сменить</a></td>
				</tr>
				<tr>
					<td>Статус аккаунта</td>
					{% if user.verified %}
						<td class="text-green-500">Верефицирован</td>
					{% else %}
						<td class="text-yellow-400">Не верефицирован</td>
					{% endif %}
				</tr>
				<tr>
					<td>Дата регистрации</td>
					<td>{{ user.info.regDate|dateString}}</td>
				</tr>
				<tr>
					<td>Последняя активность</td>
					<td>{{ user.info.lastPlayed|dateString }}</td>
				</tr>
				<tr>
					<td>Пароль</td>
					<td>●●●●●●●●<a class="link pl-2 text-xs" href="">Сменить</a></td>
				</tr>
				<tr>
					<td>Cкин</td>
					<td><a class="link" href="">Сбросить</a></td>
				</tr>
				<tr>
					<td>Плащ</td>
					<td><a class="link" href="">Сбросить</a></td>
				</tr>
			</table>
			{#<div>
				<span>
					<button onClick={show}>Сменить ник</button>
					<Change header="Сменить ник" fieldText="Никнейм" fieldName="username" />
				</span>
				<span>
					<button onClick={show}>Сменить почту</button>
					<Change header="Сменить почту" fieldText="Почта" fieldName="email" />
				</span>
				<span>
					<button>Сменить пароль</button>
					<Change header="Сменить пароль" fieldText="Новый пароль" fieldName="password" />
				</span>
			</div>#}
		</div>
		{#<div class="col-span-12">
			<h4>Активность за 30 дней</h4>
			<div>
				<table>
					<thead>
						<tr>
							<td>IP аддрес</td>
							<td>Дата</td>
							<td>Тип</td>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<h5>Недоступно...</h5>
			</div>
		</div>#}
	</div>
</div>
{% endblock %}
{% block script %}
	<script src="/js/skinview3d.bundle.js"></script>
	<script>
		window.onload = () => {
			const canvas = document.getElementById("skin_container")
			let skinViewer = new skinview3d.SkinViewer({
				canvas: canvas,
				skin: "/api/skin/{{ user.username }}",
			});
			skinViewer.width = canvas.parentElement.clientWidth;
			skinViewer.height = canvas.parentElement.clientHeight;

			skinViewer.fov = 70;
			skinViewer.zoom = 0.9;

			//skinViewer.background = 0x161b22;

			skinViewer.animation = new skinview3d.WalkingAnimation();
			skinViewer.animation.speed = 0.6;

			skinViewer.cameraLight.intensity = 0.9;
			skinViewer.globalLight.intensity = 0.2;

			window.onresize = function(event) {
				skinViewer.width = canvas.parentElement.clientWidth;
				skinViewer.height = canvas.parentElement.clientHeight;
			};
		}
	</script>
{% endblock %}