{% extends "base.njk" %}

{% block title %}Регистрация{% endblock %}
{% block head %}
	<script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}
{% block content %}
<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
	<div class="w-full max-w-md space-y-8 bg-bg p-8 rounded-2xl">
		<div>
			<h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-foxy-orange">Регистрация</h2>
		</div>
		<form class="mt-8" action="" id="registerForm" method="POST">
			<div class="-space-y-px rounded-md shadow-sm">
				<div>
					<label for="username" class="sr-only">Никнейм</label>
					<input id="username" name="username" type="text" required
						class="relative block w-full py-2"
						placeholder="Никнейм">
				</div>
				<div>
					<label for="email" class="sr-only">Почта</label>
					<input id="email" name="email" type="text" required
						class="relative block w-full py-2"
						placeholder="Почта">
				</div>
				<div>
					<label for="password" class="sr-only">Пароль</label>
					<input id="password" name="password" type="password" required
						class="relative block w-full py-2"
						placeholder="Пароль">
				</div>
				<div>
					<label for="password2" class="sr-only">Повторить пароль</label>
					<input id="password2" name="password2" type="password" required
						class="relative block w-full py-2"
						placeholder="Повторить пароль">
				</div>
			</div>
			<div class="flex items-center justify-center text-center my-4">
				<div class="text-sm">
					<p class="text-center text-sm">
						Уже есть аккаунт?
						<a href="/login" class="font-medium link">Войти</a>
					</p>
				</div>
			</div>
			<div>
				<button type="submit" class="group relative flex w-full justify-center g-recaptcha text-foxy-blue"
					data-sitekey="{{ siteKey }}"
					data-callback="onSubmit"
					data-action="submit"
					data-theme="dark">
					Зарегистрироватся
				</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
{% block script %}
	<script>
		function onSubmit(token) {
			let form = document.getElementById("registerForm");
			if(form.reportValidity()){
				form.submit();
			}
		}
	</script>
{% endblock %}