<!DOCTYPE html>
<html>
	<head>
		<link href="/css/style.css" rel="stylesheet">
  		<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
		<title>
            ?????? - DisePVP
        </title>
        <style>
            body {
                background-color: #404040;
                background-image: url("../img/error.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center, top;
                background-attachment: fixed;
            }
        </style>
	</head>
	<body>
        <div class="flex flex-col items-center justify-center h-full w-full text-foxy-orange">
            <span class="countdown font-mono text-7xl">
                <span id="days" style="--value:{{ day }};"></span>:
                <span id="hours" style="--value:{{ hour }};"></span>:
                <span id="min" style="--value:{{ minute }};"></span>:
                <span id="sec" style="--value:{{ second }};"></span>
            </span>
            <div class="hidden text-xl" id="text">  
                Something happened...
            </div>
        </div>
        <script>

            let dayValue = 0;
            let hourValue = 0;
            let minValue = 0;
            let secValue = 1;
            let count = setInterval(() => {
                let day = document.getElementById("days");
                let hour = document.getElementById("hours");
                let min = document.getElementById("min");
                let sec = document.getElementById("sec");

                let dayStyle = getComputedStyle(day);
                let hourStyle = getComputedStyle(hour);
                let minStyle = getComputedStyle(min);
                let secStyle = getComputedStyle(sec);

                dayValue = dayStyle.getPropertyValue("--value")
                hourValue = hourStyle.getPropertyValue("--value")
                minValue = minStyle.getPropertyValue("--value")
                secValue = secStyle.getPropertyValue("--value")

                var vars = [parseInt(secValue), parseInt(minValue), parseInt(hourValue), parseInt(dayValue)];

                if(vars[0] > 0){
                    vars[0] = vars[0] - 1;
                }
                for (var i = 0; i < vars.length; i++) {
                    if (vars[i] == 0) {
                        if(vars[i + 1] > 0){
                            vars[i] = 59;
                            vars[i + 1] = vars[i + 1] - 1;
                        }
                    }
                }
                sec.style.setProperty('--value', vars[0]);
                min.style.setProperty('--value', vars[1]);
                hour.style.setProperty('--value', vars[2]);
                day.style.setProperty('--value', vars[3]);

                if(vars[0] == 0 && vars[1] == 0 && vars[2] == 0 && vars[3] == 0){
                    setTimeout(() => {
                            let count = document.getElementById("text");
                            let text = document.getElementById("text");
                            text.style.display = "inline-block";
                    }, 1000);
                }
            }, 1000)
        </script>
	</body>
</html>