{% extends "base.njk" %}

{% block title %}Логин{% endblock %}

{% block content %}
<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
	<div class="w-full max-w-md space-y-8 bg-bg p-8 rounded-2xl">
		<div>
			<h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-foxy-orange">{{ message }}</h2>
		</div>
		<div class="flex items-center justify-center">
        	<a class="pt-4 align-center" href="/"><button class="!bg-transparent">Вернутся на главную</button></a>
		</div>
	</div>
</div>
{% endblock %}